* {
    box-sizing: border-box;
    background-color: lightgrey;
}

#worldMap{
    background-color: rgb(113, 182, 238);
    height: 100vh;
    width: 1000px;
}

body{
    position: relative;
}

.search > #searchBar{
    position: absolute;
    width: 400px;
    height: 20px;
    background-color: lightgrey;
    right: 1000px;
    top: 60px;


}

.search > #searchButton{
    position: absolute;
    right: 940px;
    top: 61px;
    width: 50px;
    height: 19px;
    background-color: blueviolet;
    font-size: 10px;
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    color: white;
}

#resultDisplay{
    position: absolute;
    right: 0;
    top: 100px;
    width: 400px;
    height: 400px;
    
}

.intro{
    position: absolute;
    right: 450px;
    top: 10px;
    width: 400px;
    height: 50px;
    border: 1px solid black;
    overflow: auto;
    background-color: white;

}

#resultDisplay > .image{
    width: 400px;
    height: 400px;
    position: absolute;
    right: 450px;

}

#climateData{
    position: absolute;
    border: 1px solid black;
    right: 10px;
    top: 100px;
    width: 400px;
    height:400px;
    border: 1px solid black;
    background-color: white;
}

#climateData > *{
    text-align: center;
    color: red;
    margin-top: auto;
    display: flex;
    justify-content: center;
    padding-top: 15.7px;
    
}

#currentWeather{
    position: absolute;
    right: 165px;
    top: 70px;
    font-weight: bold;
}

.forecast{
    width: 840px;
    height: 430px;
    border: 1px solid black;
    position: absolute;
    right: 10px;
    bottom: 4px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.forecast > *{
    text-align: center;
    background-color: white;
    overflow: hidden;
}

.forecast > #heading1, #heading2, #heading3{
   font-weight: bold;
}




