* {
    box-sizing: border-box
}

#worldMap{
    background-color: rgb(113, 182, 238);
    height: 100vh;
    width: 1300px;
}

body{
    position: relative;
}

.search > #searchBar{
    position: absolute;
    width: 400px;
    height: 20px;
    background-color: lightgrey;
    right: 680px;
    top: 60px;


}

.search > #searchButton{
    position: absolute;
    right: 620px;
    top: 61px;
    width: 50px;
    height: 19px;
    background-color: blueviolet;
    font-size: 10px;
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    color: white;
}

#resultDisplay{
    position: absolute;
    right: 88px;
    top: 100px;
    width: 400px;
    height: 400px;
    border: 1px solid black;
}

.intro{
    position: absolute;
    right: 88px;
    top: 45px;
    width: 400px;
    height: 50px;
    border: 1px solid black;
    overflow: auto;

}

#resultDisplay > .image{
    width: 400px;
    height: 400px;
}

#climateData{
    position: absolute;
    border: 1px solid black;
    right: 88px;
    bottom: 30px;
    width: 400px;
    height: 435px;
    border: 1px solid black;
}
